name: Build and Release Mini Projects

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      # Checkout
      - name: Checkout Repository
        uses: actions/checkout@v4


      # Linux tools
      - name: Install GCC + Zip (Linux)
        if: runner.os == 'Linux'
        run: sudo apt update && sudo apt install -y gcc g++ zip


      # macOS tools
      - name: Install GCC + Zip (macOS)
        if: runner.os == 'macOS'
        run: brew install gcc zip || true


      # Windows tools
      - name: Install MinGW (Windows)
        if: runner.os == 'Windows'
        run: choco install mingw -y


      # Build programs
      - name: Build Programs
        shell: bash
        run: |
          mkdir -p build

          g++ rock-paper-scissors/main.cpp -o build/rps
          g++ number-guessing-game/main.cpp -o build/guess
          g++ cgpa-calculator/main.cpp -o build/cgpa

          gcc banking-system/c-version/main.c -o build/bank_c
          g++ banking-system/cpp-version/main.cpp -o build/bank_cpp

          echo "Build completed:"
          ls build


      # Create ZIP (Cross Platform)
      - name: Create ZIP
        shell: bash
        run: |
          mkdir -p dist

          if [ "$RUNNER_OS" = "Windows" ]; then
            powershell Compress-Archive build\* dist\programs-Windows.zip
          else
            cd build
            zip -r ../dist/programs-${RUNNER_OS}.zip .
          fi


      # Upload Artifact
      - name: Upload ZIP
        uses: actions/upload-artifact@v4
        with:
          name: programs-${{ runner.os }}
          path: dist/*.zip


  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      # Download all artifacts
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: release-files


      # Create GitHub Release
      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          generate_release_notes: true
          files: release-files/**/*.zip
