name: Build and Release Mini Projects

on:
  push:
    tags:
      - "v*.*.*"   # Runs only when you push version tags

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Linux
      - name: Install GCC (Linux)
        if: runner.os == 'Linux'
        run: sudo apt update && sudo apt install -y gcc g++

      # macOS
      - name: Install GCC (macOS)
        if: runner.os == 'macOS'
        run: brew install gcc || true

      # Build all programs
      - name: Build programs
        run: |
          mkdir build

          g++ rock-paper-scissors/main.cpp -o build/rps || true
          g++ number-guessing-game/main.cpp -o build/guess || true
          g++ cgpa-calculator/main.cpp -o build/cgpa || true

          gcc banking-system/c-version/main.c -o build/bank_c || true
          g++ banking-system/cpp-version/main.cpp -o build/bank_cpp || true

      # Upload files
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: programs-${{ runner.os }}
          path: build/

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: release-files

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: release-files/**/*
