name: Build and Release Mini Projects

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Linux
      - name: Install GCC (Linux)
        if: runner.os == 'Linux'
        run: sudo apt update && sudo apt install -y gcc g++

      # macOS
      - name: Install GCC (macOS)
        if: runner.os == 'macOS'
        run: brew install gcc || true

      # Build
      - name: Build Programs
        shell: bash
        run: |
          mkdir -p build

          g++ rock-paper-scissors/main.cpp -o build/rps || echo "rps failed"
          g++ number-guessing-game/main.cpp -o build/guess || echo "guess failed"
          g++ cgpa-calculator/main.cpp -o build/cgpa || echo "cgpa failed"

          gcc banking-system/c-version/main.c -o build/bank_c || echo "bank_c failed"
          g++ banking-system/cpp-version/main.cpp -o build/bank_cpp || echo "bank_cpp failed"

          echo "Build result:"
          ls build

      # Zip all outputs
      - name: Create ZIP
        shell: bash
        run: |
          cd build
          zip -r programs-${{ runner.os }}.zip .
          mv *.zip ..

      # Upload ZIP
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: programs-${{ runner.os }}
          path: programs-${{ runner.os }}.zip


  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: release-files

      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          generate_release_notes: true
          files: release-files/**/*.zip
